{% include "head.html" %}

<div class = "row">
    <div class = "col-md-4" id="deploys">
    </div>
    <div class = "col-md-8">
        <table class="table" id="builds">
          <thead>
            <tr>
              <th>Build #</th>
              <th>Project</th>
              <th>Source Branch</th>
              <th>Target Branch</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>
        </table> 
    </div>
</div> <!-- end row -->
{% include "scripts.html" %}
