    <!-- jQuery Version 1.11.0 -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <!-- jQuery UI -->
    <script src="{{ url_for('static', filename='third-party/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='third-party/bootstrap-3.3.5/js/bootstrap.min.js') }}"></script>

    <!-- Global JavaScript -->
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
